#%RAML 1.0
baseUri: https://anypoint.mulesoft.com/mocking/api/v1/links/e2925bcd-e4b0-4516-ba4b-040d661aa347/ # 
title: okta-sys-api

types: 
  User: !include //exchange_modules/35e35197-a33a-4340-9f6c-39304550ca11/datatype/1.0.6/okta-user-datatype.raml
  Userdetails: !include /exchange_modules/35e35197-a33a-4340-9f6c-39304550ca11/datatype/1.0.6/user-datatype.raml
  Credentials: !include /exchange_modules/35e35197-a33a-4340-9f6c-39304550ca11/datatype/1.0.6/login-credentials-datatype.raml

/users:
  get:
    description: Retrieving all users registered in Okta
    responses:
      200:
        description: User created Successfully
        body:
          application/json:
            type: Userdetails                        
      400:
        body:
          application/json:
            example:
              message: Error retrieving Customer data 
  post:
    description: Creating new user in Okta
    body:
      application/json:
       type: User
    responses:
      201:
        description: Created new user
        body:
          application/json:
            type: Userdetails
      400:
        body:
          application/json:
            example:
              message: Error creating new Customer in Okta. 
  /{id}:
    get:
      description: Retrieve details of a user by ID
      responses:
        200:
          description: Successfully retrieve user details 
          body:
            application/json:
              type: Userdetails 
        404:
          description: User not found
          body:
              application/json:
                  example:
                      {error: Resource not found}      
    put:  
      description: Update details of a user
      body:
        application/json:
              type: User
      responses:
        200:
          description: User details updated successfully
          body:
            application/json:
              properties:
                type: User

        404:  
          description: User not found
          body:
            application/json:
              example:
                {error: Resource not found}
    /forgetpassword:
      post:
        description: Change password
        responses:
          200:
            description: New password created successfully
            body:
              application/json:
                example:
                  message: Created new password
          400:
            description: Bad request  
            body:
              application/json:
                example:
                  message: Error in changing password 
          403:          
            description: New password doesnot meet password policy 
            body:
              application/json:
                example:
                  message: Passwords must have at least 8 characters, a lowercase letter, an uppercase letter, a number 
    /reset-password: 
      post:
        description: Reset password
        responses:
          200:
            description: New password created successfully
            body:
              application/json:
                example:
                  message: Created new password
          400:
            description: Bad request  
            body:
              application/json:
                example:
                  message: Error in changing password 
          403:          
            description: New password doesnot meet password policy 
            body:
              application/json:
                example:
                  message: Passwords must have at least 8 characters, a lowercase letter, an uppercase letter, a number                              
                                              
  /authenticate:
    post:
      description: User authentication
      body:
        application/json:
          type: Credentials
                      
      responses:
        200:
          description: Authenticated Successfully and generated session token
        401:
          description: Unauthorised Access
          body:
            application/json:
              example:
                message: Authentication failed     
                  
        
 

                          

                

